doctype html
html
  head
    title JaguarLand
    link(href='/fonts/JLREmeric-ExtraLight.css', rel='stylesheet')
    link(href='/fonts/JLREmeric-Regular.css', rel='stylesheet')
    link(href='/fonts/JLREmeric-SemiBold.css', rel='stylesheet')
    link(href='/css/index.css', rel='stylesheet')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBecyrPDlEBoI1X9C6mi4XkVn2EaHBV7Q0')
    script(type='text/javascript', src='/js/map.js')

  body
    div.top
      div.video-container
        video(autoPlay='true', loop='true', poster='/images/moscow_winter.jpg')
          source(src='/media/moscow_winter.mp4', type='video/mp4')
      div.message
        
        div.logo
          img.jaguar(src='/images/jaguar.png')
          img.landrover(src='/images/landrover.png')
        
        div.bigtitle
          span.lightfont Станьте дедом морозом
          br
          span.lightfont с 
          span.regularfont Jaguar Land Rover
        
        img.devider(src='/images/devider.png')
        
        div.title.boldfont
          Загадайте своё желание и исполните чужое
        
        div.text
          div.regularfont
            В рождественские дни легко поверить в сказку. Давайте сделаем её реальностью!
            Загадайте желание, и Дед Мороз его исполнит. А вы в ответ тоже станьте Дедом Морозом, чтобы исполнить желание другого человека.
            Станьте частью новогоднего чуда, ведь чем больше участников, тем масштабнее волшебство!

        img.arrow(src='/svg/arrow.svg')

    div.middle
      div.message
        div.title.boldfont
          Карта
        div.text.boldfont
          Чтобы участвовать в акции вам необходимо прийти на инсталляцию, которая находится по адресу ул. ----------, возле дома ----
    div.bottom
      div#map