doctype html
html
  head
    title JaguarLand
    link(href='/css/index.css', rel='stylesheet')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBecyrPDlEBoI1X9C6mi4XkVn2EaHBV7Q0')
    script(type='text/javascript', src='/js/map.js')
  body
    div.top
      div.video-container
        video(autoPlay='true', loop='true')
          source(src='/media/moscow_winter.mp4', type='video/mp4')
      div.message
        
        div.logo
          Логотип
        
        div.bigtitle
          Станьте дедом морозом с <b>Jaguar Land Rover</b>
        
        div.devider
          Разделитель
        
        div.title
          Загадайте своё желание и исполните чужое
        
        div.text
          div
            В рождественнские дни легко поверить в сказку. Давайте сделаем её реальностью!
            Загадайте желание, и Дед Мороз его исполнит. А вы в ответ тоже станьде Дедом Морозом, чтобы исполнить желание другого человека.
            Станьте частью новогоднего чуда, ведь чем больше участников, тем масштабнее волшебство!

        div.arrow
          Стрелочка


    div.middle
      div.message
        div.title
          Карта
        div.text
          Чтобы участвовать в акции вам необходимо прийти на инсталляцию, которая находится по адресу ул. ----------, возле дома ----
    div.bottom
      div#map