doctype html
html
  head
    title JaguarLand
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(href='/fonts/JLREmeric-ExtraLight.css', rel='stylesheet')
    link(href='/fonts/JLREmeric-Regular.css', rel='stylesheet')
    link(href='/fonts/JLREmeric-SemiBold.css', rel='stylesheet')
    link(href='/css/index.css', rel='stylesheet')
    script(type='text/javascript', src='https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU')
    script(type='text/javascript', src='/js/map.js')
    script(type='text/javascript', src='/js/video.js')

  body

    div.logo
      img(src='/images/logo.png')

    div.top
      div.video-container
        video(autoPlay='true', loop='true', poster='/images/snowflake.jpg')
          source(src='/media/snowflake.mp4', type='video/mp4')
      div.message
        
        div.logopadding

        div.bigtitle
          span.lightfont Станьте дедом морозом
          br
          span.lightfont с 
          span.regularfont Jaguar Land Rover
        
        img.devider(src='/images/devider.png')
        
        div.title.boldfont
          Загадайте своё желание и исполните чужое
        
        div.text
          div.regularfont
            С середины декабря, накануне долгожданных праздников, начнет свою работу интерактивный стенд «Снежинка желаний», с помощью которого посетители ГУМ-катка смогут загадать то, что они мечтают получить на Новый год. Этот стенд предлагает свежую интерпретацию традиционной церемонии анонимного обмена подарками «Тайный Санта»: после ввода информации о своем желании, гость получит распечатанный чек с текстом желания, загаданного другим пользователем, и может попытаться его исполнить. Стенд «Снежинка желаний» – это прекрасная возможность воплотить в жизнь не только свою мечту, но и подарить настоящую сказку другому человеку. Все, кто примет участие в обмене подарками с помощью этого стенда, получат приглашение в центр Jaguar Land Rover Experience.

        div.ruleslink.boldfont
          a(href='/docs/rules.doc', target='_blank')
            Правила акции

    div.middle
      div.message
        div.text.boldfont
          Приходите и участвуйте в инсталляции.
          br
          Она находится рядом с катком на Красной площади, напротив ГУМа
    div.bottom
      div#map