doctype html
html
  head
    title JaguarLand
    link(href='/css/index.css', rel='stylesheet')
  body
    div.top
      div.video-container
        video(autoPlay='true', loop='true')
          source(src='/media/moscow_winter.mp4', type='video/mp4')
    div.middle
    div.bottom