$top-height = 45
$middle-height = 10
$bottom-height = 45
$video-width = 640
$video-height = 512
$max-height = floor(100*$video-height/$top-height)

body
  margin: 0
  padding: 0
  height: 100vh
  width: 100vw
  overflow: hidden
  text-transform: uppercase

.top
  position: relative
  height: "%s%" % ($top-height)
  overflow: hidden
  
  .video-container
    position: relative
    top: 0px
    left: 0px
    bottom: 0px
    right: 0px
    height: 100%
    width: 100%

    video
      z-index: -1
      position: absolute
      transform: translate(-50%, -50%)
      top: 50%
      left: 50%

    @media (max-width: "%spx" % ($video-width)), (min-height: "%spx" % ($max-height))
      video
        min-width: 100%
        max-height: 100%
        
        min-height: none
        max-width: none

    @media (min-width: "%spx" % ($video-width)), (max-height: "%spx" % ($max-height))
      video
        min-height: 100%
        width: 100%

        min-width: none
        max-height: none

  .message
    position: absolute
    z-index: 1
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    color: white
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center

    .logo
      border-radius: 50%
      width: 30px
      height: 30px
      background-color: white
      margin: 0 auto
      padding: 15px
      box-sizing: border-box

      .jaguar
        max-width: 100%
        height: 50%

      .landrover
        max-width: 100%
        height: 50%

    .devider
      max-width: 50%
      margin: 0 auto

    .text
      max-width: 400px
      margin: 0 auto

    .arrow
      width: 10px
      height: 10px
      margin: 0 auto


    @media (min-width: 901px)
      .logo
        margin-top: 20px
        width: 80px
        height: 80px
        padding: 20px
        margin-top: 40px

      .bigtitle
        font-size: 35px
        width: 500px
        margin: 0px auto

      .devider
        max-width: 300px

      .title
        font-size: 15px
        width: 230px
        margin: 0px auto

      .text
        font-size: 12px
        padding: 5px 15px 

      .arrow
        margin-bottom: 40px


    @media (max-width: 900px)
      .logo
        margin-top: 20px
        width: 80px
        height: 80px
        padding: 20px
        margin-top: 40px

      .bigtitle
        font-size: 32px
        width: 430px
        margin: 0px auto

      .devider
        max-width: 290px

      .title
        font-size: 15px
        width: 230px
        margin: 0px auto

      .text
        font-size: 10px
        padding: 5px 15px 

      .arrow
        margin-bottom: 40px

    @media (max-width: 500px)
      .logo
        margin-top: 15px
        width: 50px
        height: 50px

      .bigtitle
        font-size: 20px
        padding: 5px 0px
        width: 100%

      .devider
        max-width: 80%

      .title
        font-size: 15px
        padding: 5px

      .text
        font-size: 10px
        padding: 5px 15px 

      .arrow
        margin-top: 5px

    @media (max-height: 700px)
      .logo
        height: 50px
        width: 50px
        padding: 10px
        margin-top: 20px

      .bigtitle
        font-size: 22px

      .text
        font-size: 8px

      .arrow
        margin-bottom: 20px


.middle
  background-color: white
  height: "%s%" % ($middle-height)
  width: 100%

  .message
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 100%
    wigth: 100%
    
    .title
      margin: auto
      text-align: center
      font-size: 80%

    .text
      margin: auto
      text-align: center
      font-size: 50%
      max-width: 400px

    @media (min-width: 901px)
      .title
        font-size: 100%

      .text
        font-size: 60%
        max-width: 650px


.bottom
  height: "%s%" % ($bottom-height)
  width: 100%

  #map
    width: 100%
    height: 100%

.lightfont
  font-family: JLREmeric-ExtraLight

.regularfont
  font-family: JLREmeric

.boldfont
  font-family: JLREmericSemiBold